@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-image: url('/bg.png'); /* Light theme image */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --bg-image: var(--background-image);
}

/* Dark mode overrides */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-image: url('/darkbg.png'); /* Dark theme image */
}
